<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <!--Nombre de la compañia-->
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">
    AGROWER
    {% load static %}
    <img src="{% static 'icons/logo_azul_degrae.svg' %}"  width="30" height="30" fill="red">
    
  </a>
  <!-- ¿¿¿ no ser para q sirve aun ??? -->
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- barra de busqueda -->

  <!-- Sing Out -->


  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">

      <a class="nav-link" href="{% url "logout" %}">
        <button type="button"  class="btn btn-outline-light btn-sm">

          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
          </svg>
          Log out!
        </button></a>
    </li>

  </ul>
</nav>
